@import './style/config';

html, body {
  background-color: color(main-content, backdrop);
  font-size: 16px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

#application-viewport, #application-viewport > div, .main-content {
  height: 100%;
}
