<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Matthew W. Jackson <mwj8410@gmail.com>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>InMotion - Demo Application</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="style/main.css" media="screen" title="Default" />

  </head>
  <body>
    <div id="application-viewport"></div>

    <!-- Application Requirements -->
 
    <!-- Application Files -->
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
