<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Matthew W. Jackson <mwj8410@gmail.com>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>InMotion - Demo Application</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="style/main.css" media="screen" title="Default" />

  </head>
  <body>
    <div id="application-viewport"></div>

    <!-- Application Requirements -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react-dom.min.js"></script>

    <!-- Application Files Injected Here-->
  </body>
</html>
