// ----- ----- ----- ----- //
// -----   Generic   ----- //
// ----- ----- ----- ----- //

// Searches a map for a specific key, then returns the next item in the map or false if there are no more items.
@function map-get-next-by-key($map, $key) {
  $values: map-values($map);
  $i: 1;
  $found: false;
  @each $val in map-keys($map) {
    @if $found == false {
      @if ($key == $val) {
        $found: true;
      }
      $i: $i + 1;
    }
  }
  @if $i > length($map) {
    @return false;
  } @else {
    @return nth($values, $i);
  }
}


// ----- ----- ----- ----- //
// -----   Palette   ----- //
// ----- ----- ----- ----- //
@function palette-color ($palette-name, $color-name) {
  @return map-get(map-get($color-palettes, $palette-name), $color-name);
}

@function color($area, $use) {
  $color-description-list: map-get(
    map-get($theme-colors, $area), // First layer of theme-colors
    $use
  );

  $color-palette-name: nth($color-description-list, 1);
  $color-palette-item: nth($color-description-list, 2);

  @return palette-color($color-palette-name, $color-palette-item);
}
